:root {
    --header: #F55A5A
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, "Helvetica";
}

.header {
    background-color: var(--header);
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header-text {
    font-size: 0.9rem;
    margin-left: 7px;
    font-weight: 400;
}

.logo {
    width: 24px;
    height: 24px;
}